@import 'antd/dist/antd.css';

body {
  background: aliceblue;
}

.content-layout {
  width: 1080px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}
.content-main {
  height: calc(100vh - 110px);
  overflow-y: auto;
}